<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--<mapper namespace="com.oukongli.java.model.User">-->
<mapper namespace="com.oukongli.mapper.UserMapper">

    <resultMap id="user" type="com.oukongli.model.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="type" property="type"/>
    </resultMap>

    <insert id="add" parameterType="com.oukongli.model.User">
        INSERT INTO t_user (username, password, nickname, type)
        VALUES (#{username}, #{password}, #{nickname}, #{type})
    </insert>

    <update id="update">
        UPDATE t_user
        SET password = #{user.password},nickname=#{user.nickname},type=#{user.type} WHERE id=#{user.id}
    </update>

    <update id="delete" parameterType="int">
        DELETE FROM t_user
        WHERE id = #{id}
    </update>

    <select id="load" parameterType="int" resultMap="user">
        SELECT * FROM t_user
        WHERE id=#{id}
    </select>

    <select id="find" resultMap="user">
        SELECT * FROM t_user
        WHERE username=#{name}
    </select>
</mapper>